/* Using a Google Font called Cabin Sketch */
.cabin-sketch-regular {
  font-family: "Cabin Sketch", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.cabin-sketch-bold {
  font-family: "Cabin Sketch", sans-serif;
  font-weight: 700;
  font-style: normal;
}


* {
    font-family: "Cabin Sketch", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: sandybrown;

    margin: 0px;
}

#hello {
    color: white;
    text-align: center;
    margin: auto;
    background-color: red;
    width: 100%;

    border-radius: 20px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;

    width: 350px;
    height: 50px;
}

#sizeButton, #clearButton {
    width: 150px;
    height: 80px;
    border-radius: 15px;
    font-size: 30px;

    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: stretch;

    border: 30px solid red;
    border-radius: 15px;
    margin-top: 125px;

    /* Height and width adjusted to 1028px for a full-size view for the user. */
    height: 500px;
    width: 500px;
}

/* Rows are contained within the container. */
.row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

/* Boxes are contained within rows. */
.square {
    border: 1px solid grey;
    background-color: white;
    flex-grow: 1; // THIS WAS THE SOLUTION!!!!!!
}

/* A solution I discovered was that I had to make all child contents grow within
the parent container(s). We can make the container class the ancestor (martriach), so
all other child and descendant content inside the child containers would need to grow within
the ancestor size as well. */

/* I also had to remove the height and width of the square class, because that was
preventing the squares from resizing to fit within the container. They needed a DYNAMIC
resizing, not a static resizing. */