body {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 2px solid black;

    width: 960px;
    height: 960px;
}

/* Rows are contained within the container. */
.row {
    display: flex;
    flex-direction: row;
}


/* Boxes are contained within rows. */
.square {
    border: 1px solid grey;
    height: 12px;
    width: 12px;
}