.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;

    width: 900px;
    height: 900px;
}

/* Rows are contained within the container. */
.row {
    display: flex;
    flex-direction: row;
}


/* Boxes are contained within rows. */
.square {
    border: 1px solid grey;
    height: 12px;
    width: 12px;
}